body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  text-align: center;
}
input {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.buttondiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

button{
  width: 50px;
  margin: 5px;
}